.order_heading{
  font-size: 50px;
  text-align: center;
  margin: 1%;
  color: #7F4479;
}

.line{
  border-style: solid;

  border-width: 3px;
}

.align{
  text-align: center;
}
.ig_c{
  color:#EA3291;
  margin: 1%;
}
.you_c{
  color:red;
  margin: 1%;
}
.tik_c{
  color:black;
  margin: 1%;
}
.fac{
  margin: 1%;
}

#by{
  font-family: cursive;
}

.a{
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}

.adress{
  font-family: cursive;
  margin: 2%;
  color:#AD3271;
}
#about{
  color:#2A9370;
  font-family: cursive;
  margin: 1%;
}
